name: CI for similarity vectors

on:
  push:
    branches:
      - main
      - backend_dev
      - frontend_dev

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install nltk gensim

      - name: Run script
        run: |
          python similarity_vectors..py
